supervision==0.25.0
opencv-python
fastapi[standard]==0.115.6
numpy==1.23.2
ultralytics==8.2.98
python-dotenv==1.0.1
shapely==2.0.6
pillow==11.0.0
httpx==0.28.1
sqlalchemy==2.0.36
asyncpg==0.30.0
psycopg2==2.9.10